@media only screen and (max-width: 768px) {
	.slogan {
		font-size: 35px;
		width: 300px
	}
	.imageEbook {
		text-align: center;
		padding-bottom: 0
	}
	.imageEbook > img {
		width: 45% !important
	}
	.ebookText>span:nth-child(1) {
		font-size: 5rem !important
	}
	#ebookForm {
		padding: 0 3rem !important;
		margin-bottom: 3rem !important;
		width: 100% !important
	}
	.col-lg-6.aboutMe > p {
		margin: 0 auto !important;
    	padding: 0 2rem!important
	}
}

@media only screen and (max-width: 425px) {
	.slogan {
		font-size: 20px;
	    width: 200px;
	    bottom: 10px;
	    right: 0;
	}
	.imageEbook > img {
	    width: 55% !important;
	}
	.ebookText>span:nth-child(1) {
    	font-size: 3rem !important;
	}
	.ebookText>span:nth-child(2) {
	    font-size: 4.87rem;
	}
	#hiddenPhone {
		display: none
	}
}

@media only screen and (max-width: 320px) {
	.slogan {
		font-size: 17px;
	    width: 150px;
	    bottom: 10px;
	    right: 0;
	}
	.ebookText>span:nth-child(1) {
    	font-size: 2rem !important;
	}
	.ebookText>span:nth-child(2) {
	    font-size: 3.87rem;
	}
	#ebookForm {
	    padding: 0 1rem !important;
	    margin-bottom: 3rem !important;
	    width: 100% !important;
	}
}