@media only screen and (max-width: 768px) {
	.slogan {
		font-size: 35px;
		width: 300px
	}
	.imageEbook {
		text-align: center;
		padding-bottom: 0
	}
	.imageEbook > img {
		width: 45% !important
	}
	.ebookText>span:nth-child(1) {
		font-size: 5rem !important
	}
	#ebookForm {
		padding: 0 3rem !important;
		margin-bottom: 3rem !important;
		width: 100% !important
	}
	.col-lg-6.aboutMe > p {
		margin: 0 auto !important;
    	padding: 0 2rem!important
	}
}